* {
	box-sizing: border-box;
}

.star-wars-header{
	max-width: 100%
	margin: 0 auto;
}

.row{
	max-width: 1000px
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

/*Clearfix*/
.row::before, .row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.columns{
	float: left;

	padding-left: 1.04166666%;
  	padding-right: 1.04166666%;
}

/*Mobile defaults*/
.columns{
	width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px){
	.columns{
		width: 33.33%;
	}
}

